__pycache__/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-debug.log*
yarn-error.log*

node_modules
_build

__SNAPSHOTS__/test
__SNAPSHOTS__/**/*.*
!__SNAPSHOTS__/**/*_contract.tz
!__SNAPSHOTS__/**/ligo/*.tz
!__SNAPSHOTS__/**/sizes.txt
!__SNAPSHOTS__/*.yaml
!__SNAPSHOTS__/evm-deployment.txt
